// Colors
$color-primary: #D81E5B;
$color-primary-dark: #501B1D; 

$color-secondary: #EB5E55;

$color-tertiary-dark: #3A3335;

$color-light-tan: #FDF0F5;

$color-light-blue: #C6D8D3;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// Font size
$default-font-size: 1.6rem;
